button {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: none;
    margin: 0 2rem;
    font-size: 5em;
    box-shadow: 0 4px 32px 0 rgba(10, 14, 29, .02), 0 8px 64px 0 rgba(10, 14, 29, .08);
    cursor: pointer;
}

button:hover {
    font-size: 7em;
}

button:focus {
    outline: 0;
}